{% extends '../base.html' %}

{% block title %}Hermes | Home {% endblock %} 
{% block content %} 
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h1>Hermes</h1>
<!--<div class="w3-panel w3-card">
    <br>
    <label for="searchFinancialNewsTicker">Search Financial Headlines by Ticker </label>
    <input type="text" placeholder="YHOO" id="searchFinancialNewsTicker"/>
    <br />
    <br />
    <button ng-click="getNewsHeadlines()" class="btn btn-primary">Search</button>
    <br />
    <hr>
    <div ng-show="financial_headlines_show">

    </div>

</div>-->
<br/>

<div class="panel panel-default">
  <div class="panel-heading">Purpose</div>
  <div class="panel-body">
    This is Hermes Exchange. I created Hermes Exchange as a fantasy stock market I wanted when I was learning about the stock market. I hope that this product is easy for you to use and you can have fun learning about how the most complex system humans have ever created works.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Firms
  </div>
  <div class="panel-body">
    Firms are lobbies that users can use to see how they are compared to their friends. Firms maybe for learning groups, or may include the most talented traders already in the official market.
  </div>
</div>
<footer>
  <div class="alert alert-warning">Problem? Email us at rohanm02@gmail.com</div>
</footer>
{% endblock %}
